<div class="col-md-3 col-lg-2 p-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button collapsed">
                    <a class="link-underline-light text-black" href="/admin/dashboard">首页</a>
                </button>
            </h2>
        </div>
        {{#each menuTree}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{name }}
                </button>
            </h2>
            <div id="flush-collapse{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul class="list-group">
                        {{#each children}}
                        <li class="list-group-item">
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>