<h1>用户详情</h1>
<div class="mb-3">
    <label class="form-label">用户名:</label>
    <p class="form-control-plaintext">{{user.username}}</p>
</div>
<div class="mb-3">
    <label class="form-label">手机号:</label>
    <p class="form-control-plaintext">{{user.mobile}}</p>
</div>
<div class="mb-3">
    <label class="form-label">邮箱:</label>
    <p class="form-control-plaintext">{{user.email}}</p>
</div>
<div class="mb-3">
    <label class="form-label">是否超级管理员:</label>
    <p class="form-control-plaintext">{{user.is_super_text}}</p>
</div>
<div class="mb-3">
    <label class="form-label">状态:</label>
    <p class="form-control-plaintext">{{user.status_text}}</p>
</div>
<div class="mb-3">
    <label class="form-label">排序:</label>
    <p class="form-control-plaintext">{{user.sort}}</p>
</div>

<a href="/admin/users/edit/{{user.id}}" class="btn btn-warning btn-sm">修改</a>
<a href="/admin/users" class="btn btn-secondary btn-sm">返回列表</a>