<h1>角色列表</h1>
<a class="btn btn-success mb-3" href="/admin/roles/create" role="button">添加角色</a>
<form method="GET" action="/admin/roles" class="mb-3">
    <input type="hidden" name="page" value="{{page}}">
    <input type="hidden" name="limit" value="{{limit}}">
    <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="请输入搜索关键字" value="{{keyword}}">
        <button class="btn btn-outline-secondary">搜索</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>名称</th>
            <th>状态</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{#each roles}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" name="status" data-id="{{this.id}}" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked" {{#if (isSuper this.status)}}checked {{/if}}>
                </div>
            </td>

            <td>
                <span class="sort-text" data-id="{{this.id}}">{{this.sort}}</span>
                <input type="number" name="sort" class="form-control sort-input d-none" style="width:100%"
                    data-id="{{this.id}}" value="{{this.sort}}">
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="/admin/roles/{{this.id}}" role="button">查看</a>
                <a class="btn btn-warning btn-sm" href="/admin/roles/edit/{{this.id}}" role="button">修改</a>
                <a class="btn btn-danger btn-sm" role="button" onclick="deleteUser({{this.id}})">删除</a>
                <button class="btn btn-info btn-sm" onclick="assignAccesses({{this.id}})">分配资源</button>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {{#if (equals page 1)}}disabled{{/if}}">
            <a class="page-link" href="?page={{decrease page}}&keyword={{keyword}}&limit={{limit}}">上一页</a>
        </li>
        {{#each (range 1 pageCount)}}
        <li class="page-item {{#if (equals this ../page)}}active{{/if}}"><a class="page-link"
                href="?limit={{../limit}}&keyword={{../keyword}}&page={{this}}">{{this}}</a></li>
        {{/each}}


        <li class="page-item {{#if (equals page pageCount)}}disabled{{/if}}">
            <a class="page-link" href="?page={{increase page}}&keyword={{keyword}}&limit={{limit}}">下一页</a>
        </li>
        <li class="page-item">
            <form method="GET" action="/admin/roles" class="d-inline-block ms-3">
                <input type="hidden" name="keyword" value="{{keyword}}">
                <input type="hidden" name="page" value="{{page}}">
                <div class="input-group">
                    <input type="number" name="limit" class="form-control" placeholder="每页条数" value="{{limit}}" min="1">
                    <button class="btn btn-outline-secondary" type="submit">设置每页的条数</button>
                </div>
            </form>
        </li>
    </ul>
</nav>

<div class="modal fade" id="accessModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">给角色分配资源</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="accessForm">
                    <div id="accessTree" class="border ronded p-3"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secodary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveAccesses" onclick="saveAccesses()">保存</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteUser(id) {
        $.ajax({
            url: `/admin/roles/${id}`,
            type: 'delete',
            success: (res) => {
                if (res.success) window.location.reload()
            }
        })
    }

    $('.form-check-input').on('change', function () {
        const $this = $(this)
        const data = { [$this.prop('name')]: $this.prop('checked') }
        $.ajax({
            url: `/admin/roles/${$this.data('id')}`,
            type: 'put',
            headers: { 'accept': 'application/json' },
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: (res) => {
                alert(JSON.stringify(res))
            }
        })
    })

    $('.sort-text').on('dblclick', function () {
        const $this = $(this)
        const id = $this.data('id')
        $this.addClass('d-none')
        $(`.sort-input[data-id="${id}"]`).removeClass('d-none').focus()
    })

    $('.sort-input').on('blur', function () {
        const $this = $(this)
        const id = $this.data('id')
        const key = $this.prop('name')
        const value = $this.val()
        const data = { [key]: value }
        $this.addClass('d-none')
        $.ajax({
            url: `/admin/roles/${$this.data('id')}`,
            type: 'put',
            headers: { 'accept': 'application/json' },
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: (res) => {
                alert(JSON.stringify(res))
                $(`.sort-text[data-id="${id}"]`).text(value).removeClass('d-none')
            }
        })
    })

    let selectedRoleId
    function assignAccesses(roleId) {
        selectedRoleId = roleId
        $.ajax({
            url: `/admin/roles/${roleId}`,
            type: 'GET',
            headers: { 'accept': 'application/json' },
            success: function ({ role }) {
                const accessIds = role.accesses.map(access => access.id)
                $(`#accessForm input[type="checkbox"]`).each(function () {
                    $(this).prop('checked', accessIds.includes(parseInt($(this).val())))
                })
                $('#accessModal').modal('show')
            }
        })
    }

    const accessTree = {{{ json accessTree }}};
    function renderTree(accesses) {
        let html = `<ul class="list-unstyled">`;
        accesses.forEach(function (access) {
            html += `
          <li class="mb-2">
            <div class="d-flex align-items-center">
               ${access.children?.length > 0 ? '<span class="toggle me-2 cursor-pointer"><i class="bi bi-folder-minus"></i></span>' : '<span class="me-4"></span>'}
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input parent-checkbox" data-id="${access.id}" value="${access.id}"/>
                  ${access.name}
                </label>
            </div>
            ${access.children?.length > 0 ? `<div class="children ms-4">${renderTree(access.children)}</div>` : ``}
          </li>
        `;
        });
        html += '</ul>';
        return html;
    }

    $('#accessTree').html(renderTree(accessTree))

    $('body').on('click', '.toggle', function () {
        const children = $(this).parent().siblings('.children');
        if (children.is(':visible')) {
            children.hide();
            $(this).html(`<i class="bi bi-folder-plus"></i>`);
        } else {
            children.show();
            $(this).html(`<i class="bi bi-folder-minus"></i>`);
        }
    });
    $('body').on('change', '.parent-checkbox', function () {
        const isChecked = $(this).is(':checked');
        $(this).closest('li').find('.children input[type="checkbox"]').prop('checked', isChecked)
    })


    function saveAccesses() {
        const accessIds = $(`#accessForm input[type="checkbox"]:checked`).map(function () {
            return Number($(this).val());
        }).get();
        $.ajax({
            url: `/admin/roles/access/${selectedRoleId}`,
            type: 'put',
            headers: { 'accept': 'application/json' },
            contentType: 'application/json',
            data: JSON.stringify({ accessIds }),
            success: (res) => {
                $('#accessModal').modal('hide');
                alert(JSON.stringify(res))
            }
        })
    }
</script>